*{
	
  body {
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
 }
  
	* { box-sizing: border-box; }
	html, body {
	padding: 0;
	margin: 0;
	outline: none;
 }
	
	body {
	padding: 2rem;
	font-size: .9rem;
 }
	
	body, input, textarea {
	font-family: Roboto, Helvetica, FreeSans, sans-serif;
 }
	
	h1, a, label {
	color: #3b5998;
 }
	
	.content {
	padding: 1.5rem;
	max-width: 500px;
	margin: 0 auto;
	background-color: hsl(0, 0%, 95%);
	box-shadow:0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
	border-radius: .125rem;
 }
	
	.comments {
	padding: 0 1.5rem;
	max-width: 40rem;
	margin: 2rem auto 0;
 }
	
	input, textarea, select, content {
	background-color: hsl(0, 0%, 95%);
	font-size: 12px;
	border: 1px solid hsl(0, 0%, 80%);
	border-radius: .25rem;
	padding: 6px;
	margin-top: .25rem;
	resize: vertical;
	display: block;
	width: 100%;
	color: black;
 }
	
	.notif {
	color:#757575;
	font-style: italic;
	display:none;
	background: aquamarine;
	padding-left: 5px;
	padding-right: 5px;
 }

	#disqus-placeholder {
	color: hsl(0, 0%, 75%);
	border: 1px solid hsl(0, 0%, 75%);
	min-height: 20em;
	padding: 9em 1em;
	text-align: center;
 }
	
	#disqus-placeholder img {
	width: 4em;
	margin-bottom: 1em;
 }
	
	.is-hidden { display: none; }
	.ribet{display: none;}
	@media only screen and (max-width: 480px) { body { padding: 0 0 0.5rem 0; }
	.content {	max-width: 100%;
	border-radius: 0;
 }
	
	.comments {
	max-width:100%;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
 }
 }
	.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
 }

	.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0px;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.42857;
 }
	
	.btn-danger {
	margin-top: 10px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
 }

	body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
    background-color: rgba(0,0,0,.0001);
 } 

  .container, textarea {
    background: transparent;
    width: 100%;
	font-family: font-family: Roboto, Helvetica, FreeSans, sans-serif, product sans;
    font-size: 12px;
    margin-top: 5px;
	padding-right: 15px;
    padding-left: 15px;
	margin-right: auto;
    margin-left: auto;
 }
  
  #select1, select {
    background: #337ab7;
    border: none;
    color: white;
    font-family: product sans;
    font-size: 16px;
    border-radius: 5px;
	box-shadow: 0 0 10px 0px black;
    text-shadow: 0 0 10px black;
 } 
  
  #form1 {
    color: #337ab7;
    font-family: product sans;
    font-size: 16px;
}
/* Change styles */